.Map{
    &__Container{
        width: 100vw;
        height: 100vh;
    }
    &__Speed{
        position: fixed;
        left: 30px;
        top: 30px;
        width: 160px;
        height: 160px;
        border-radius: 160px;
        border: 8px #239BD2 solid;
        box-sizing: border-box;
        text-align: center;
        background: #fff;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--Number{
            color: #239BD2;
            font-size: 60px;
        }
        &--Unit{
            color: #239BD2;
            font-size: 30px;
            display: block;
            opacity: .6;
        }
    }
    &__OverSpeed{
        .Map__Speed--Number,
        .Map__Speed--Unit {
            color: #E2342E;
        }
        border: 8px #E2342E solid;
    }
    &__Start{
        left: 50%;
        position: fixed;
        bottom: 120px;
        background: #E2342E;
        height: 90px;
        line-height: 90px;
        color: #fff;
        border-radius: 60px;
        font-size: 30px;
        text-align: center;
        padding: 0 80px;
        display: inline-block;
        transform: translate3d(-50%, 0, 0);
    }
}